.title {
  background-color: black;
  color: white;
  padding: 10px 5px;
  cursor: pointer;
}
.accordian {
  width: 50%;
  margin: 0 auto 0 auto;
}
.content {
  display: block;
}
.no-display {
  display: none;
}
.flex {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
}
